@model Assignment_1.Models.Contact
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Contact</h2>

@using (Html.BeginForm("Edit","Contacts",FormMethod.Post))
{
@Html.AntiForgeryToken()
                @Html.HiddenFor(m =>m.Id)

                                <div class="form-group">
                                    @Html.LabelFor(m => m.FirstName)
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.LastName)
                                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                                </div>
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.Email)
                                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                                </div>

                                                                                <button type="submit" class="btn btn-primary">Save</button>
                                                                                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })}

